.text_media .textBx {
    width: 100%;
}

.cartes {
    background: #3475ca;
    padding: 100px;
    text-align: center;
}

.cartes .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.cartes .container .cartesBx {
    position: relative;
    background: #3475ca;
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartes .container .cartesBx img {
    max-width: 100px;
}

.cartes .container .cartesBx h2 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}

.cartes .container .cartesBx a {
    text-decoration: none;
    color: #000;
}